#todays-challenge {
  color: #654815;
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 25px;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 5px black;
  margin-top: -134px;
}

#box-modal {
  width: 800px;
  background-color: rgb(217, 126, 114);
  padding: 24px;
  border-radius: 8px;
  border: solid 5px black;
  margin: 200px auto 72px auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 30px;
  color: rgb(31, 25, 25);
}

span {
  color: rgb(78, 3, 3);
}
